
.plugin-gridster.vlcPlayer .front {
  background: #FFFFFF url('images/logo.jpg') center 30px;
  background-size:   180px 100px;
  background-repeat: no-repeat;
}


.plugin-gridster.vlcPlayer .back {
  background: #FFFFFF;
}

